@charset "UTF-8";
html {
  scroll-behavior: smooth; /* スムーススクロールでリンクへ飛ぶ */
  font-size: 2.5641025641vw;
}

@media (min-width: 768px) {
  html {
    font-size: 0.8333333333vw;
    /* 1200はPCカンプのコンテンツ幅 */
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
body {
  font-family: "Noto Sans JP";
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
}

* {
  line-height: 1.2;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
}

u {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .flex {
    justify-content: space-between;
  }
}

.no-sp {
  display: block;
}

.no-pc {
  display: inherit;
}
@media screen and (min-width: 768px) {
  .no-pc {
    display: none;
  }
}

/* header
-----------------------------------------*/
.header {
  width: 100%;
  padding: 0;
  height: 6.3rem;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1000;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .header {
    height: 7rem;
    overflow: visible;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.3rem;
}
@media screen and (min-width: 768px) {
  .header__container {
    justify-content: center;
  }
}
.header__logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1rem;
  width: 7.3rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    max-width: 16.6rem;
    margin: 0 1.6rem;
  }
}
.header__logo img {
  align-items: center;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__logo img {
    max-width: 16.6rem;
    margin: 0 1.6rem;
  }
}
.header .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0.9rem 0.8rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  color: #fff;
  margin: 0 auto;
}
.header .btn__form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 1rem 0 0;
}
@media screen and (min-width: 768px) {
  .header .btn__form {
    display: flex;
    padding: 0;
    gap: 3.2rem;
    margin: 0;
  }
}
.header .btn__form-01 {
  width: 10.7rem;
  background-color: #fa7da3;
}
@media screen and (min-width: 768px) {
  .header .btn__form-01 {
    margin: 0 0 0 6.2rem;
  }
}
.header .btn__form-01:hover {
  filter: brightness(1.2);
}
.header .btn__form-01::after {
  content: "";
  background-image: url(/assets/image/arrow.svg);
  width: 0.8rem;
  height: 1.1rem;
  display: flex;
  align-items: center;
  background-size: contain;
  margin: 0.2rem 0 0 0.3rem;
}
.header .btn__form-02 {
  background-color: #49c43d;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header .btn__form-02 {
    margin: 0 4.8rem 0 0;
  }
}
.header .btn__form-02:hover {
  filter: brightness(1.2);
}
.header .btn__form-02::after {
  content: "";
  background-image: url(/assets/image/arrow.svg);
  width: 0.8rem;
  height: 1.1rem;
  display: flex;
  align-items: center;
  background-size: contain;
  margin: 0.2rem 0 0 0.3rem;
}

/* top
-----------------------------------------*/
.top__container {
  background-image: url("/assets/image/top_woman.png");
  text-align: center;
  min-height: 31.8rem;
  background-color: #fa7da3;
  color: #fff;
  display: flex;
  margin-top: 6.3rem;
  background-size: 21rem 22rem;
  background-position: 4% 100%;
}
@media screen and (min-width: 768px) {
  .top__container {
    background-image: url("/assets/image/woman.png");
    height: auto;
    width: 100%;
    min-height: 72rem;
    padding: 3.8rem 2rem 5.9rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .top__container {
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1501px) {
  .top__container {
    background-size: cover;
    background-position: center;
    padding-top: 48%;
    position: relative;
    height: 0;
  }
}
.top__left {
  display: flex;
  flex-direction: column;
  width: 52%;
}
@media screen and (min-width: 768px) {
  .top__left {
    width: 16.6rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1501px) {
  .top__left {
    padding-top: 0px;
    margin: 0 auto;
    position: absolute;
    top: 6%;
    left: 46%;
  }
}
.top__left--title {
  text-align: center;
  padding: 0.8rem 1.8rem 0 1.6rem;
  margin: 0 0 1.15rem 0;
}
@media screen and (min-width: 768px) {
  .top__left--title {
    padding-top: 21rem;
    margin: 0 auto;
    max-width: 105.5rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1501px) {
  .top__left--title {
    padding-top: 0px;
    margin: 0 auto;
    max-width: 106rem;
    position: absolute;
    top: 36%;
    left: 16%;
  }
}
.top__left--title-sp {
  margin: 1.3rem 0 1.1rem 0;
}
.top__right {
  display: flex;
  flex-direction: column;
}
.top__right--upper {
  display: flex;
  width: 18.8rem;
  height: 10.7rem;
  box-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}
.top__right--item {
  display: flex;
  flex-direction: column;
}
.top__catch-up {
  font-size: 1.3rem;
  color: #fa7da3;
  background-color: #fff;
  margin: 2.2rem 1rem 0.6rem 1rem;
  padding: 0.5rem 0.8rem;
  font-weight: 700;
}
.top__catch-down {
  font-size: 2.4rem;
  font-weight: 700;
}
.top__catch-yellow {
  color: #fffd7a;
  font-weight: 700;
  display: inline-block;
  margin: 1rem 0 0 0;
}
.top .large {
  font-size: 7.6rem;
  vertical-align: bottom;
  line-height: 0.98;
}
.top .small {
  font-size: 4.6rem;
}
.top p {
  font-size: 1.4rem;
  font-family: "Outfit";
  padding: 1rem 0 1.1rem;
  text-align: end;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .top p {
    font-size: 2.5rem;
    line-height: 1.44;
    letter-spacing: 0.76rem;
  }
}
.top .price-large {
  font-size: 2rem;
}
.top ul {
  margin: 0 auto;
}
.top li {
  font-size: 1.8rem;
  border: 0.1rem solid #fff;
  margin: 0 0 1.5rem 0;
  padding: 0.5rem 0.8rem;
  min-width: 13.3rem;
}

/* give
---------------------------------------- */
.give {
  background-color: #fffedd;
  padding: 3rem 2rem 3.2rem;
}
.give__catch {
  position: relative;
  text-align: center;
  font-size: 2.1rem;
  color: #fa7da3;
  padding: 0 0 0.4rem 0;
}
@media screen and (min-width: 768px) {
  .give__catch {
    display: flex;
    padding: 1.1rem 0 0.4rem 0;
    font-size: 24px;
  }
}
.give__catch::before, .give__catch::after {
  position: absolute;
  top: 45%;
  width: 2.1rem;
  height: 0.14rem;
  content: "";
  background-color: #fa7da3;
}
@media screen and (min-width: 768px) {
  .give__catch::before, .give__catch::after {
    top: 51%;
    width: 2rem;
  }
}
.give__catch::before {
  right: calc(50% + 3.8rem);
  transform: rotate(63deg);
}
@media screen and (min-width: 768px) {
  .give__catch::before {
    right: calc(50% + 54px);
  }
}
.give__catch::after {
  left: calc(50% + 3.5rem);
  transform: rotate(-63deg);
}
@media screen and (min-width: 768px) {
  .give__catch::after {
    left: calc(50% + 54px);
  }
}
.give .give__item {
  text-align: center;
  margin: 0 auto;
  max-width: 35rem;
}
.give .give__item--title {
  border-radius: 1rem 1rem 0 0;
  background-color: #fa7da3;
  font-size: 2.1rem;
  color: #fff;
  padding: 0.8rem 0;
}
.give .give__item--info {
  color: #fa7da3;
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
  border: 0.1rem solid #fa7da3;
  padding: 0.8rem 0;
}
.give .give__item .large {
  font-size: 4.2rem;
  font-weight: 700;
}
.give .give__item .small {
  font-size: 3.1rem;
}
.give p {
  font-size: 1rem;
  padding: 1rem 0 0 0;
  text-align: center;
}

/* contact
---------------------------------------- */
.contact {
  padding: 4.8rem 2rem 1rem;
}
@media screen and (min-width: 768px) {
  .contact {
    height: auto;
  }
}
.contact_02 {
  padding: 1rem 2rem 2rem;
}
.contact__container {
  text-align: center;
}
.contact__title {
  font-size: 2.1rem;
  color: #fa7da3;
  font-weight: 700;
  padding: 0 0 1.2rem 0;
}
@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 2.1rem;
  }
}
.contact .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 4.8rem 1rem 5.1rem;
  letter-spacing: 0.2rem;
  border-radius: 4rem;
  font-size: 2.1rem;
  line-height: 1.3333333333;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
}
.contact .btn__form {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contact .btn__form {
    display: flex;
    padding: 0;
    gap: 3.2rem;
    margin: 0;
  }
}
.contact .btn__form-02 {
  background-color: #49c43d;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .contact .btn__form-02 {
    margin: 0 4.8rem 0 0;
  }
}
.contact .btn__form-02:hover {
  filter: brightness(1.2);
}
.contact .btn__form-02::after {
  content: "";
  background-image: url(/assets/image/arrow.svg);
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  background-size: contain;
  margin: 0.2rem 0 0 1.3rem;
}

/* free
---------------------------------------- */
.free {
  padding: 0.8rem 2rem 3rem;
}
.free__item {
  font-size: 1.7rem;
  color: #50bfff;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 1.3rem 0 2rem;
  padding: 1rem 0;
  border-top: 0.1rem solid #50bfff;
  border-bottom: 0.1rem solid #50bfff;
  text-align: center;
}
.free__item--info {
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.2;
}
.free__item--info-01 {
  padding-bottom: 0.5rem;
}

/* point
---------------------------------------- */
.point {
  padding: 5rem 1.6rem 0;
  margin: 0 auto;
  max-width: 102.4rem;
  /* -------- point02 -------- */
  /* -------- point03 -------- */
}
@media screen and (min-width: 768px) {
  .point {
    padding: 7.7rem 1.6rem 7.5rem;
    max-width: unset;
  }
}
.point__container {
  text-align: center;
}
.point__logo {
  font-size: 1.8rem;
  color: #4d2b1b;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.15rem;
}
.point__second--main {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fa7da3;
  padding: 2.1rem 0 2.9rem 0;
  text-align: center;
  letter-spacing: 0.1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .point__second--main {
    font-size: 2rem;
    padding: 0.7rem 0 2.2rem 0;
  }
}
.point__second--main::before {
  content: "";
  background-image: url(/assets/image/star.png);
  width: 5.7rem;
  height: 5.6rem;
  display: inline-block;
  position: absolute;
  left: 2rem;
  top: 6%;
}
.point__second--main::after {
  content: "";
  background-image: url(/assets/image/star_right.png);
  width: 5.7rem;
  height: 5.6rem;
  display: inline-block;
  position: absolute;
  right: 2rem;
  top: 6%;
}
.point__item {
  text-align: center;
  margin: 0 auto;
  max-width: 35rem;
  margin: 0 0 3rem 0;
}
.point__item--title {
  border-radius: 1rem 1rem 0 0;
  background-color: #fa7da3;
  font-size: 1.8rem;
  color: #fff;
  padding: 1.3rem 0;
  display: flex;
  justify-content: center;
}
.point__item_01 {
  padding-right: 1rem;
}
.point__item_02 {
  border-left: 0.1rem solid #fff;
  padding-left: 1rem;
}
.point__item--info {
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
  border: 0.1rem solid #fa7da3;
  padding: 1.3rem 1.3rem 2rem;
}
.point__info--catch {
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 0 1.5rem 0;
}
.point__item--detail {
  justify-content: center;
  gap: 2rem;
}
.point__place_01 {
  background-color: #fff;
  border: 1px solid #fa7da3;
  padding: 2.4rem 4rem;
}
.point__place_02 {
  background-color: #fdf0f5;
  border: 1px solid #666666;
  padding: 3.4rem 3.2rem;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: #433e3f;
  text-align: center;
}
.point__note {
  font-size: 1.4rem;
  padding: 1rem 0 0 0;
}
.point__item--info_02 {
  padding: 1.3rem 1.5rem 2rem;
  font-size: 1.4rem;
  text-align: left;
}
.point__info--catch_02 {
  padding: 0 0 0.5rem 0;
}
.point__second--main_02 {
  color: #4d2c1c;
  font-size: 2.3rem;
  font-weight: 700;
  padding: 2.1rem 0 2.9rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .point__second--main_02 {
    font-size: 2rem;
    padding: 0.7rem 0 2.2rem 0;
  }
}
.point__second--main_03 {
  color: #4d2c1c;
  font-size: 2.3rem;
  font-weight: 700;
  padding: 3.3rem 0 1.9rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .point__second--main_03 {
    font-size: 2rem;
    padding: 0.7rem 0 2.2rem 0;
  }
}
.point__item--detail_02 {
  flex-wrap: wrap;
  margin: 1rem 0 0;
  row-gap: 1.5rem;
}
.point__second--name {
  font-size: 1.4rem;
  color: #fa7da3;
  font-weight: 700;
  padding: 0.5rem 0 0;
  text-align: center;
}
.point__item--info_03 {
  padding: 1.3rem 1.5rem 2rem;
  font-size: 1.4rem;
  text-align: left;
}

.swiper__container {
  position: relative;
  width: 100%;
  max-width: 100%;
  --swiper-pagination-color: #00AFBF;
  --swiper-pagination-bullet-inactive-color: #EEEEEE;
  --swiper-pagination-bullet-inactive-opacity: 1;
}
@media screen and (min-width: 768px) {
  .swiper__container {
    max-width: 115.6rem;
    margin-inline: auto;
  }
}

.swiper {
  padding: 0.8rem 3.9rem;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  .swiper {
    padding: 2rem 0;
    max-width: 98rem;
  }
}
.swiper-slide {
  padding: 2.9rem 1.5rem 2.5rem 1.5rem;
  background-color: #DBF7F9;
  width: 28rem;
  margin: 0 0 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .swiper-slide {
    padding: 4rem 1.7rem 3.8rem 1.5rem;
  }
}
.swiper__img {
  width: 8.5rem;
  height: 8rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .swiper__img {
    width: 10.5rem;
    height: unset;
  }
}
.swiper img {
  padding-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  .swiper img {
    width: 100%;
    padding-left: 0.5rem;
  }
}
.swiper__ppl {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem 0 1.6rem;
  letter-spacing: 0.03rem;
}
@media screen and (min-width: 768px) {
  .swiper__ppl {
    padding: 1.1rem 0 1.6rem;
  }
}
.swiper p {
  font-size: 1.4rem;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .swiper p {
    font-size: 1.6rem;
    line-height: 1.75;
  }
}
@media screen and (min-width: 768px) {
  .swiper-pagination {
    --swiper-pagination-color: #00AFBF;
    --swiper-pagination-bullet-inactive-color: #EEEEEE;
    --swiper-pagination-bullet-inactive-opacity: 1;
    position: absolute;
    bottom: 1%;
  }
}
.swiper-pagination-bullets {
  bottom: -1%;
}
@media screen and (min-width: 768px) {
  .swiper-pagination-bullets {
    bottom: 0%;
  }
}
.swiper-button-next, .swiper-button-prev {
  background-size: contain;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  top: 54%;
  transform: translateY(-54%);
}
@media screen and (min-width: 768px) {
  .swiper-button-next, .swiper-button-prev {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.swiper-button-next::after, .swiper-button-prev::after {
  content: "";
}
.swiper-button-prev {
  background-image: url(/assets/image/arrow_left.svg);
  left: 0%;
}
@media screen and (min-width: 768px) {
  .swiper-button-prev {
    top: 53%;
    transform: translateY(-50%);
    left: 0;
  }
}
.swiper-button-next {
  background-image: url(/assets/image/arrow_right.svg);
  right: 0%;
}
@media screen and (min-width: 768px) {
  .swiper-button-next {
    top: 53%;
    transform: translateY(-50%);
    right: 0;
  }
}

/* questions
---------------------------------------- */
.qu {
  padding: 3.4rem 1.6rem 1.2rem;
  background: transparent linear-gradient(90deg, #F4FFE8 0%, #C6F0FE 100%);
  margin-bottom: 5.1rem;
}
@media screen and (min-width: 768px) {
  .qu {
    margin-bottom: 0;
    padding: 3.8rem 1.6rem 1.8rem;
  }
}
.qu__title {
  font-size: 3rem;
  font-family: "EB Garamond";
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.15rem;
}
@media screen and (min-width: 768px) {
  .qu__title {
    font-size: 4.5rem;
    line-height: 1.40625;
    letter-spacing: 0.23rem;
  }
}
.qu__title--jp {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 0 3.9rem 0;
  text-align: center;
  letter-spacing: 0.09rem;
}
@media screen and (min-width: 768px) {
  .qu__title--jp {
    font-size: 2rem;
    padding: 0.8rem 0 4.3rem 0;
  }
}
.qu dl {
  background-color: #fff;
  color: #444444;
  font-size: 1.5rem;
  line-height: 1.8666666667;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .qu dl {
    max-width: 60rem;
    margin: 0 auto 2.4rem;
  }
}
.qu dt {
  padding: 1.6rem 4.3rem 1.2rem 4.5rem;
  position: relative;
  cursor: pointer;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .qu dt {
    padding: 2.2rem 4.3rem 1.2rem 5.8rem;
  }
}
.qu dl:nth-of-type(2) dt,
.qu dl:nth-of-type(3) dt {
  padding: 1.7rem 4.3rem 1.8rem 4.5rem;
}
@media screen and (min-width: 768px) {
  .qu dl:nth-of-type(2) dt,
  .qu dl:nth-of-type(3) dt {
    padding: 2.3rem 4.3rem 1.8rem 5.9rem;
  }
}
.qu dl:nth-of-type(4) dt {
  padding: 1.6rem 4.3rem 1.8rem 4.5rem;
}
@media screen and (min-width: 768px) {
  .qu dl:nth-of-type(4) dt {
    padding: 2.2rem 4.3rem 1.8rem 5.8rem;
  }
}
.qu dl:nth-of-type(5) dt {
  padding: 1.6rem 4.3rem 1.8rem 4.5rem;
}
@media screen and (min-width: 768px) {
  .qu dl:nth-of-type(5) dt {
    padding: 2.2rem 4.3rem 1.8rem 5.8rem;
  }
}
.qu dt::before {
  content: "Q.";
  display: inline-block;
  font-family: "EB Garamond";
  font-size: 1.6rem;
  line-height: 1.9;
  text-indent: -2.9rem;
}
@media screen and (min-width: 768px) {
  .qu dt::before {
    text-indent: -3.3rem;
  }
}
.qu dt::after {
  content: "";
  display: inline-block;
  background-image: url(/assets/image/caret_down.svg);
  position: absolute;
  width: 1rem;
  height: 0.6rem;
  background-size: contain;
  right: 1.7rem;
  top: 3.1rem;
}
@media screen and (min-width: 768px) {
  .qu dt::after {
    width: 1.2rem;
    height: 1.2rem;
    right: 2.5rem;
    top: 3.2rem;
  }
}
.qu dl.open dt::after {
  content: "";
  background-image: url(/assets/image/caret_up.svg);
  position: absolute;
  width: 1rem;
  height: 0.6rem;
  background-size: contain;
  right: 1.7rem;
  top: 3.1rem;
}
@media screen and (min-width: 768px) {
  .qu dl.open dt::after {
    width: 1.2rem;
    height: 1.2rem;
    right: 2.5rem;
    top: 3.2rem;
  }
}
.qu dd {
  padding: 0rem 1.2rem 2.9rem 4.4rem;
  display: none;
  font-size: 1.5rem;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .qu dd {
    padding: 0.1rem 3.5rem 1.9rem 5.8rem;
  }
}
.qu dd::before {
  content: "A.";
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.9;
  text-indent: -3rem;
  padding-left: 0.1rem;
}
@media screen and (min-width: 768px) {
  .qu dd::before {
    text-indent: -3.5rem;
  }
}

/* scroll
-------------------------------------------- */
.scroll {
  background-image: url(/assets/image/back_top.svg);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 1.6rem;
  background-size: cover;
  width: 4rem;
  height: 4rem;
}
@media screen and (min-width: 768px) {
  .scroll {
    right: 10%;
  }
}
.scroll:hover {
  background-image: url(/assets/image/Back_top_hover.svg);
}

/* footer
-------------------------------------------- */
.footer {
  background-color: #fff;
  padding: 2.9rem 1.6rem 2.4rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3.6rem 1.6rem 4.1rem;
  }
}
.footer__container {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 16.5rem 0 16.3rem;
  }
}
.footer__img {
  width: 16.45rem;
  margin: 0 auto;
  padding: 0 0 3.4rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__img {
    width: 19.5rem;
    margin: unset;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer img {
    width: 19rem;
  }
}
.footer__item {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1.1666666667;
}
@media screen and (min-width: 768px) {
  .footer__item {
    font-size: 1.4rem;
    margin-left: 5rem;
  }
}
.footer ul {
  display: flex;
  gap: 3rem;
}
@media screen and (min-width: 768px) {
  .footer ul {
    gap: 3.2rem;
  }
}
.footer li {
  display: flex;
  gap: 3rem;
}
.footer a {
  color: #fff;
}
.footer .footer__bottom {
  text-align: center;
  padding: 2.1rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .footer .footer__bottom {
    padding: 0;
  }
}
.footer .copyright {
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer .copyright {
    padding: 3.2rem 0;
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=main.css.map */