@charset "UTF-8";
html {
  scroll-behavior: smooth; /* スムーススクロールでリンクへ飛ぶ */
  font-size: 2.5641025641vw;
}

@media (min-width: 768px) {
  html {
    font-size: 0.8333333333vw;
    /* 1200はPCカンプのコンテンツ幅 */
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
body {
  font-family: "Noto Sans JP";
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
}

* {
  line-height: 1.2;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
}

u {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .flex {
    justify-content: space-between;
  }
}

.no-sp {
  display: block;
}

.no-pc {
  display: inherit;
}
@media screen and (min-width: 768px) {
  .no-pc {
    display: none;
  }
}

/* header
-----------------------------------------*/
.header {
  width: 100%;
  padding: 0;
  height: 6.2rem;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1000;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .header {
    height: 9.5rem;
    overflow: visible;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.3rem;
}
@media screen and (min-width: 768px) {
  .header__container {
    justify-content: space-between;
    max-width: 103rem;
    margin: 0 auto;
    height: 9.5rem;
  }
}
.header__logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1.1rem;
  width: 7.3rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0 0.6rem;
  }
}
.header__logo img {
  align-items: center;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__logo img {
    width: 10rem;
    max-width: 150%;
  }
}
.header .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 1.2rem 1.7rem;
  height: 3.1rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  color: #fff;
  margin: 0 auto;
}
.header .btn__form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 1rem 0 0;
}
@media screen and (min-width: 768px) {
  .header .btn__form {
    display: flex;
    padding: 0;
    gap: 2.5rem;
    margin: 0;
  }
}
.header .btn__form-01 {
  width: 10.7rem;
  background-color: #fa7da3;
}
@media screen and (min-width: 768px) {
  .header .btn__form-01 {
    width: 18.8rem;
    padding: 1.1rem 1.1rem 1.1rem;
    font-size: 2.1rem;
    border-radius: 2.5rem;
  }
}
.header .btn__form-01:hover {
  filter: brightness(1.2);
}
.header .btn__form-01::after {
  content: "";
  background-image: url(/assets/image/arrow.svg);
  width: 0.8rem;
  height: 1.1rem;
  display: flex;
  align-items: center;
  background-size: contain;
  margin: 0.2rem 0 0 0.3rem;
}
@media screen and (min-width: 768px) {
  .header .btn__form-01::after {
    width: 1.8rem;
    height: 1.8rem;
    background-size: 66%;
    margin: 0.2rem 0 0 0.8rem;
  }
}
.header .btn__form-02 {
  background-color: #49c43d;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header .btn__form-02 {
    width: 29.5rem;
    padding: 1.1rem 1.1rem 1.1rem;
    font-size: 2.1rem;
    border-radius: 2.5rem;
  }
}
.header .btn__form-02:hover {
  filter: brightness(1.2);
}
.header .btn__form-02::after {
  content: "";
  background-image: url(/assets/image/arrow.svg);
  width: 0.8rem;
  height: 1.1rem;
  display: flex;
  align-items: center;
  background-size: contain;
  margin: 0.2rem 0 0 0.3rem;
}
@media screen and (min-width: 768px) {
  .header .btn__form-02::after {
    width: 1.8rem;
    height: 1.8rem;
    background-size: 66%;
    margin: 0.2rem 0 0 0.8rem;
  }
}

/* top
-----------------------------------------*/
.top {
  text-align: center;
  min-height: 31.1rem;
  background-color: #fa7da3;
  color: #fff;
  display: flex;
  margin-top: 6.2rem;
  height: 31.1rem;
}
@media screen and (min-width: 768px) {
  .top {
    height: auto;
    width: 100%;
    min-height: 61.2rem;
    margin-top: 9.5rem;
  }
}
.top__container {
  background-image: url("/assets/image/top_woman.png");
  background-size: 21rem 22rem;
  background-position: 4% 100%;
  display: flex;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .top__container {
    background-image: url("/assets/image/top_woman.png");
    width: 103rem;
    margin: 0 auto;
    background-size: 47%;
    background-position: left bottom;
    gap: 2.8rem;
  }
}
.top__left {
  width: 52%;
}
.top__left--title {
  text-align: center;
  margin: 0 0 1.15rem 0;
}
@media screen and (min-width: 768px) {
  .top__left--title {
    margin: 0 auto;
    max-width: 105.5rem;
    padding: 0;
    padding: 0.8rem 1.8rem 0 1.6rem;
  }
}
.top__left--title-sp {
  margin: 1.9rem 0 0 1.8rem;
  min-width: 16.6rem;
}
@media screen and (min-width: 768px) {
  .top__left--title-sp {
    margin: 0 0 0 1.8rem;
    width: 50rem;
  }
}
.top__right--upper {
  display: flex;
  width: 18.8rem;
  height: 10.7rem;
  box-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}
@media screen and (min-width: 768px) {
  .top__right--upper {
    width: 41.3rem;
    height: 22.2rem;
  }
}
.top__right--item {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .top__right--item {
    padding: 2rem 0 0 3rem;
  }
}
.top__catch-up {
  font-size: 1.3rem;
  color: #fa7da3;
  background-color: #fff;
  margin: 2.2rem 1rem 0.6rem 2.5rem;
  padding: 0.4rem 0.5rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .top__catch-up {
    font-size: 2.9rem;
  }
}
.top__catch-down {
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0 0 0 1.5rem;
}
@media screen and (min-width: 768px) {
  .top__catch-down {
    font-size: 5.4rem;
    padding: 1rem 0;
  }
}
.top__catch-yellow {
  color: #fffd7a;
  font-weight: 700;
  display: inline-block;
  margin: 1rem 0 0 0;
}
.top .large {
  font-size: 7.6rem;
  vertical-align: bottom;
  line-height: 0.98;
}
@media screen and (min-width: 768px) {
  .top .large {
    font-size: 17.1rem;
    padding: 0 0 0 2rem;
  }
}
.top .small {
  font-size: 3.6rem;
}
@media screen and (min-width: 768px) {
  .top .small {
    font-size: 7.6rem;
  }
}
.top p {
  font-size: 1rem;
  letter-spacing: -0.09rem;
  font-family: "Outfit";
  padding: 0.5rem 0 2.2rem;
  text-align: end;
  margin-right: 2.8rem;
}
@media screen and (min-width: 768px) {
  .top p {
    font-size: 1.8rem;
    padding: 1rem 0 4.1rem;
  }
}
.top .price-large {
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
  .top .price-large {
    font-size: 2.6rem;
  }
}
.top ul {
  margin: 0 auto;
}
.top li {
  font-size: 1.8rem;
  border: 0.1rem solid #fff;
  margin: 0 auto 1.2rem;
  padding: 0.6rem 0.8rem;
  width: 13.3rem;
}
@media screen and (min-width: 768px) {
  .top li {
    font-size: 2.8rem;
    margin: 0 0 2.2rem 0;
    padding: 1.5rem 0.8rem;
    min-width: 42.3rem;
  }
}

/* give
---------------------------------------- */
.give {
  background-color: #fffedd;
  padding: 2.2rem 2rem 1.1rem;
}
.give__catch {
  position: relative;
  text-align: center;
  font-size: 2.1rem;
  color: #fa7da3;
  padding: 0 0 1.4rem 0;
}
@media screen and (min-width: 768px) {
  .give__catch {
    padding: 0 0 1.4rem 0;
    font-size: 3.4rem;
  }
}
.give__catch::before, .give__catch::after {
  position: absolute;
  top: 35%;
  width: 2.8rem;
  height: 0.14rem;
  content: "";
  background-color: #fa7da3;
}
@media screen and (min-width: 768px) {
  .give__catch::before, .give__catch::after {
    top: 45%;
    width: 4rem;
  }
}
.give__catch::before {
  right: calc(50% + 3.4rem);
  transform: rotate(59deg);
}
@media screen and (min-width: 768px) {
  .give__catch::before {
    right: calc(50% + 5.3rem);
  }
}
.give__catch::after {
  left: calc(50% + 3.5rem);
  transform: rotate(-63deg);
}
@media screen and (min-width: 768px) {
  .give__catch::after {
    left: calc(50% + 5.3rem);
  }
}
.give .give__item {
  text-align: center;
  margin: 0 auto;
  max-width: 35rem;
}
@media screen and (min-width: 768px) {
  .give .give__item {
    max-width: 55rem;
  }
}
.give .give__item--title {
  border-radius: 1rem 1rem 0 0;
  background-color: #fa7da3;
  font-size: 2.1rem;
  color: #fff;
  padding: 0.2rem 0;
}
@media screen and (min-width: 768px) {
  .give .give__item--title {
    font-size: 3.2rem;
  }
}
.give .give__item--info {
  color: #fa7da3;
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
  border: 0.1rem solid #fa7da3;
  padding: 0.5rem 0 0.5rem 1.3rem;
}
@media screen and (min-width: 768px) {
  .give .give__item--info {
    padding: 0.8rem 0 1.2rem;
  }
}
.give .give__item .large {
  font-size: 4.2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .give .give__item .large {
    font-size: 6.8rem;
  }
}
.give .give__item .small {
  font-size: 2.8rem;
  letter-spacing: -0.05rem;
}
@media screen and (min-width: 768px) {
  .give .give__item .small {
    font-size: 4.5rem;
  }
}
.give p {
  font-size: 1rem;
  padding: 1rem 0 0 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .give p {
    font-size: 1.4rem;
    padding: 1.6rem 0 0 0;
  }
}

/* contact
---------------------------------------- */
.contact {
  padding: 2.3rem 2rem 1rem;
}
@media screen and (min-width: 768px) {
  .contact {
    max-width: 103rem;
    margin: 0 auto;
    padding: 4.8rem 2rem 2rem;
  }
}
.contact_02 {
  padding: 1rem 2rem 2rem;
}
@media screen and (min-width: 768px) {
  .contact_02 {
    padding: 6rem 2rem 4rem;
  }
}
.contact_03 {
  padding: 2rem 2rem 4rem;
}
@media screen and (min-width: 768px) {
  .contact_03 {
    padding: 5rem 2rem 6rem;
  }
}
.contact__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__container {
    margin: 0 auto;
    max-width: 57rem;
  }
}
.contact__title {
  font-size: 2.1rem;
  color: #fa7da3;
  font-weight: 700;
  padding: 0 0 1.2rem 1.1rem;
  letter-spacing: 0.2rem;
}
@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 3.4rem;
    letter-spacing: 0.3rem;
    padding: 0 0 1.8rem 0;
  }
}
.contact .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3.4rem 1.2rem 7rem;
  letter-spacing: 0.2rem;
  border-radius: 4rem;
  font-size: 2.1rem;
  line-height: 1.3333333333;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contact .btn {
    padding: 1.3rem 7.8rem 1.3rem 10.1rem;
    letter-spacing: 0.3rem;
    border-radius: 6.5rem;
    font-size: 3.4rem;
    line-height: 1.2647058824;
  }
}
.contact .btn__form {
  margin: 0 auto;
}
.contact .btn__form-02 {
  background-color: #49c43d;
  color: #fff;
}
.contact .btn__form-02:hover {
  filter: brightness(1.2);
}
.contact .btn__form-02::after {
  content: "";
  background-image: url(/assets/image/arrow.svg);
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  background-size: contain;
  margin: 0.2rem 0 0 2.3rem;
}
@media screen and (min-width: 768px) {
  .contact .btn__form-02::after {
    margin: 0.2rem 0 0 2.3rem;
    background-size: 95%;
    width: 4.2rem;
    height: 4.2rem;
  }
}

/* free
---------------------------------------- */
.free {
  padding: 0.8rem 2rem 4rem;
}
@media screen and (min-width: 768px) {
  .free {
    max-width: 61rem;
    margin: 0 auto;
    padding: 0.8rem 2rem 4rem;
  }
}
.free__item {
  font-size: 1.7rem;
  color: #50bfff;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 1.3rem 0 1.2rem;
  padding: 0.8rem 0 0.9rem;
  border-top: 0.1rem solid #50bfff;
  border-bottom: 0.1rem solid #50bfff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .free__item {
    font-size: 2.8rem;
    color: #50bfff;
    font-weight: 700;
    letter-spacing: 0.3rem;
    margin: 1.3rem 0 2rem;
    padding: 1.3rem 0;
  }
}
.free__item--info {
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .free__item--info {
    font-size: 2.3rem;
  }
}
.free__item--info-01 {
  padding-bottom: 0.8rem;
}
@media screen and (min-width: 768px) {
  .free__item--info-01 {
    padding-bottom: 0.7rem;
  }
}
.free__small {
  font-size: 80%;
}
@media screen and (min-width: 768px) {
  .free__small {
    font-size: 75%;
  }
}

/* point
---------------------------------------- */
.point {
  padding: 3.6rem 1.6rem 0;
  margin: 0 auto;
  max-width: 102.4rem;
  background-color: #fdf0f5;
  /* -------- point02 -------- */
  /* -------- point03 -------- */
}
@media screen and (min-width: 768px) {
  .point {
    padding: 5rem 1.6rem 2rem;
    max-width: unset;
  }
}
.point__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .point__container {
    max-width: 82rem;
    margin: 0 auto;
  }
}
.point__logo {
  font-size: 1.8rem;
  color: #4d2b1b;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.01rem;
}
.point__logo img {
  margin-left: 0.3rem;
}
.point__second--main {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fa7da3;
  padding: 1.4rem 0 2.5rem 0;
  text-align: center;
  letter-spacing: 0.1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .point__second--main {
    font-size: 4.2rem;
    padding: 1.7rem 0 3.2rem 0;
  }
}
.point__second--main::before {
  content: "";
  background-image: url(/assets/image/star.png);
  width: 5.7rem;
  height: 5.6rem;
  display: inline-block;
  position: absolute;
  left: 3%;
  top: 6%;
}
@media screen and (min-width: 768px) {
  .point__second--main::before {
    left: 26%;
  }
}
.point__second--main::after {
  content: "";
  background-image: url(/assets/image/star_right.png);
  width: 5.7rem;
  height: 5.6rem;
  display: inline-block;
  position: absolute;
  right: 3%;
  top: 6%;
}
@media screen and (min-width: 768px) {
  .point__second--main::after {
    right: 26%;
  }
}
.point__item {
  text-align: center;
  margin: 0 auto;
  max-width: 35rem;
  margin: 0 auto 3rem;
}
@media screen and (min-width: 768px) {
  .point__item {
    max-width: unset;
    margin: 0 auto 4rem;
  }
}
.point__item--title {
  border-radius: 1rem 1rem 0 0;
  background-color: #fa7da3;
  font-size: 1.8rem;
  color: #fff;
  padding: 1.3rem 0 1rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .point__item--title {
    font-size: 2.8rem;
    color: #fff;
    padding: 1.6rem 0;
  }
}
.point__item_01 {
  padding-right: 1.2rem;
}
@media screen and (min-width: 768px) {
  .point__item_01 {
    padding-right: 1.5rem;
  }
}
.point__item_02 {
  border-left: 0.1rem solid #fff;
  padding-left: 1.3rem;
}
@media screen and (min-width: 768px) {
  .point__item_02 {
    padding-left: 1.5rem;
  }
}
.point__item--info {
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
  border: 0.1rem solid #fa7da3;
  padding: 1.3rem 2rem 2rem;
  letter-spacing: -0.06rem;
}
.point__info--catch {
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 0 1.5rem 0;
}
@media screen and (min-width: 768px) {
  .point__info--catch {
    font-size: 2.1rem;
    line-height: 1.5;
    text-align: left;
    padding: 0 0 1.8rem 5rem;
  }
}
.point__box {
  justify-content: center;
}
.point__item--detail {
  justify-content: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .point__item--detail {
    gap: 3rem;
  }
}
.point__place {
  width: 14.3rem;
  height: 8.5rem;
}
@media screen and (min-width: 768px) {
  .point__place {
    width: 23.2rem;
    height: 13.7rem;
  }
}
@media screen and (min-width: 768px) {
  .point__place img {
    width: 130%;
    max-width: unset;
  }
}
.point__place_01 {
  background-color: #fff;
  border: 1px solid #fa7da3;
  padding: 23% 4rem;
}
@media screen and (min-width: 768px) {
  .point__place_01 {
    padding: 3.7rem 8rem 3.7rem 6rem;
  }
}
.point__place_02 {
  background-color: #fdf0f5;
  border: 1px solid #666666;
  padding: 20% 3.2rem;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: #433e3f;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .point__place_02 {
    font-size: 2.9rem;
    letter-spacing: 0.2rem;
    padding: 4.6rem 5rem 4.6rem 5rem;
  }
}
.point__note {
  font-size: 1.4rem;
  padding: 1rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .point__note {
    font-size: 2.1rem;
  }
}
.point__item--info_02 {
  padding: 1.3rem 1.5rem 2rem;
  font-size: 1.4rem;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .point__item--info_02 {
    padding: 1.3rem 5.3rem 2.8rem;
  }
}
.point__info--catch_02 {
  padding: 0 0 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .point__info--catch_02 {
    font-size: 2.1rem;
    padding: 1.2rem 0 2.6rem 0;
  }
}
.point__second--main_02 {
  color: #4d2c1c;
  font-size: 2.3rem;
  font-weight: 700;
  padding: 2.1rem 0 2.9rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .point__second--main_02 {
    font-size: 2.4rem;
    padding: 0.7rem 0 2.2rem 0;
  }
}
.point__second--main_03 {
  color: #4d2c1c;
  font-size: 2.3rem;
  font-weight: 700;
  padding: 3.3rem 0 1.9rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .point__second--main_03 {
    font-size: 2.4rem;
    padding: 5.7rem 0 2.2rem 0;
  }
}
.point__item--detail_02 {
  flex-wrap: wrap;
  margin: 1rem 0 0;
  row-gap: 1.5rem;
  max-width: 31.1rem;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .point__item--detail_02 {
    flex-wrap: unset;
    margin: 1rem 0 0;
    row-gap: 1.5rem;
    max-width: unset;
  }
}
.point__second--boxes {
  padding: 0 0.5rem;
}
@media screen and (min-width: 768px) {
  .point__second-pic {
    width: 50rem;
  }
}
@media screen and (min-width: 768px) {
  .point__second-pic img {
    width: 100%;
  }
}
.point__second--name {
  font-size: 1.2rem;
  color: #fa7da3;
  font-weight: 700;
  padding: 0.5rem 0 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .point__second--name {
    font-size: 1.4rem;
  }
}
.point__item--info_03 {
  padding: 1.3rem 1.5rem 2rem;
  font-size: 1.4rem;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .point__item--info_03 {
    font-size: 2.1rem;
    padding: 3.1rem 5.5rem 3rem;
  }
}

/* course
---------------------------------------- */
.course {
  padding: 5rem 1.6rem 0;
  margin: 0 auto;
  max-width: 102.4rem;
}
@media screen and (min-width: 768px) {
  .course {
    padding: 2rem 1.6rem 2rem;
  }
}
.course__title {
  font-size: 1.8rem;
  color: #4d2b1b;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.15rem;
}
@media screen and (min-width: 768px) {
  .course__title {
    font-size: 2.4rem;
  }
}
.course__main {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fa7da3;
  padding: 2.1rem 0 2.9rem 0;
  text-align: center;
  letter-spacing: 0.1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .course__main {
    font-size: 4.2rem;
    padding: 1.7rem 0 4.2rem 0;
  }
}
.course__main::before {
  content: "";
  background-image: url(/assets/image/star.png);
  width: 5.7rem;
  height: 5.6rem;
  display: inline-block;
  position: absolute;
  left: 2rem;
  top: 6%;
}
@media screen and (min-width: 768px) {
  .course__main::before {
    left: 31rem;
    top: 8%;
  }
}
.course__main::after {
  content: "";
  background-image: url(/assets/image/star_right.png);
  width: 5.7rem;
  height: 5.6rem;
  display: inline-block;
  position: absolute;
  right: 2rem;
  top: 6%;
}
@media screen and (min-width: 768px) {
  .course__main::after {
    right: 31rem;
    top: 8%;
  }
}
@media screen and (min-width: 768px) {
  .course__box {
    display: flex;
    gap: 3rem;
    justify-content: center;
  }
}
.course__item {
  text-align: center;
  margin: 0 auto;
  max-width: 35rem;
  margin: 0 0 3rem 0;
}
.course__item--title {
  border-radius: 1rem 1rem 0 0;
  background-color: #fdf0f5;
  border-top: 0.1rem solid #fa7da3;
  border-right: 0.1rem solid #fa7da3;
  border-left: 0.1rem solid #fa7da3;
  font-size: 1.8rem;
  color: #fa7da3;
  padding: 1.3rem 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .course__item--title {
    font-size: 2.8rem;
  }
}
.course__item--info {
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
  border-bottom: 0.1rem solid #fa7da3;
  border-right: 0.1rem solid #fa7da3;
  border-left: 0.1rem solid #fa7da3;
  padding: 1.3rem 1.8rem 2rem;
}
@media screen and (min-width: 768px) {
  .course__item--info_02 {
    padding: 1.3rem 1.2rem 2rem;
  }
}
.course__info--catch {
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 0 1.5rem 0;
}
@media screen and (min-width: 768px) {
  .course__info--catch {
    font-size: 1.8rem;
  }
}
.course__pic {
  width: 31rem;
  max-height: 20rem;
}
@media screen and (min-width: 768px) {
  .course__pic {
    margin: 0 auto;
  }
}

/* voice
---------------------------------------- */
.voice {
  background-color: #fdf0f5;
}
@media screen and (min-width: 768px) {
  .voice__content {
    margin: 0 auto;
    max-width: 102.4rem;
  }
}
.voice__main {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fa7da3;
  padding: 2.1rem 0 1.9rem 0;
  text-align: center;
  letter-spacing: 0.1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .voice__main {
    font-size: 4.2rem;
    padding: 4.3rem 0 2.2rem 0;
  }
}
.voice__main::before {
  content: "";
  background-image: url(/assets/image/star.png);
  width: 5.7rem;
  height: 5.6rem;
  display: inline-block;
  position: absolute;
  left: 2rem;
  top: 6%;
}
@media screen and (min-width: 768px) {
  .voice__main::before {
    left: 34rem;
    top: 29%;
  }
}
.voice__main::after {
  content: "";
  background-image: url(/assets/image/star_right.png);
  width: 5.7rem;
  height: 5.6rem;
  display: inline-block;
  position: absolute;
  right: 2rem;
  top: 6%;
}
@media screen and (min-width: 768px) {
  .voice__main::after {
    right: 34rem;
    top: 29%;
  }
}
.voice__item {
  text-align: center;
  margin: 0 auto;
  max-width: 35rem;
  margin: 0 0 1.5rem 0;
  height: 18.8rem;
}
@media screen and (min-width: 768px) {
  .voice__item {
    margin: 0 0 2.5rem 0;
  }
}
.voice__title {
  border-radius: 1rem 1rem 0 0;
  background-color: #fa7da3;
  font-size: 1.8rem;
  color: #fff;
  padding: 1.3rem 0;
  display: flex;
  justify-content: center;
}
.voice__down {
  background-color: #fff;
  display: flex;
  padding: 1rem 1.2rem 1.5rem 0.5rem;
  border: 0.1rem solid #fa7da3;
  border-radius: 0 0 1rem 1rem;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .voice__down {
    padding: 1rem 2.2rem 1.5rem 1.8rem;
    gap: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  .voice__down_02 {
    padding: 1rem 1.2rem 1.5rem 0.5rem;
  }
}
.voice__down--right {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.voice__img {
  width: 38rem;
  margin: 1rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .voice__img {
    width: 31rem;
  }
}
.voice .swiper__container {
  position: relative;
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .voice .swiper__container {
    max-width: 103rem;
    margin-inline: auto;
    padding: 0 0 5rem 0;
  }
}
.voice .swiper {
  padding: 0.8rem 3.9rem;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  .voice .swiper {
    max-width: 95rem;
    padding: 0 0 1.8rem 0;
  }
}
.voice .swiper-slide {
  width: 28rem;
}
.voice__name {
  font-size: 1.6rem;
  color: #fa7da3;
  padding: 0.8rem 0 0.8rem;
  letter-spacing: 0.03rem;
}
@media screen and (min-width: 768px) {
  .voice__name {
    padding: 1rem 0 1rem;
  }
}
.voice__note {
  font-size: 1.4rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .voice__note {
    font-size: 1.4rem;
    line-height: 1.7142857143;
  }
}
.voice .swiper-pagination {
  position: unset;
  padding: 0 0 2rem 0;
}
@media screen and (min-width: 768px) {
  .voice .swiper-pagination {
    --swiper-pagination-color: #fa7da3;
    --swiper-pagination-bullet-inactive-color: #ffd2d2;
    bottom: 1%;
    width: 15px;
    height: 15px;
    position: relative;
    left: 50%;
  }
}
.voice .swiper-pagination-bullet {
  background-color: #ffd2d2;
  bottom: -1%;
  width: 1.5rem;
  height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .voice .swiper-pagination-bullet {
    bottom: 0%;
  }
}
.voice .swiper-pagination-bullet-active {
  background-color: #fa7da3;
  width: 1.5rem;
  height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .voice .swiper-pagination-lock {
    display: unset;
  }
}

/* footer
-------------------------------------------- */
.footer {
  background-color: #fa7da3;
  padding: 2.1rem 0 2.1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3.6rem 1.6rem 4.1rem;
  }
}
.footer__img {
  width: 16.45rem;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__img {
    width: 14.4rem;
    margin: 0 auto;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer img {
    width: 19rem;
  }
}/*# sourceMappingURL=main.css.map */