@charset "UTF-8";

$sp:767px;
$md:1200px;
$pc:768px;

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}
@mixin md {
    @media screen and (max-width: $md) and (min-width: $pc){
        @content;
    }
}
@mixin pc {
    @media screen and (min-width: ($pc)) {
        @content;
    }
}

html {
    scroll-behavior: smooth;  /* スムーススクロールでリンクへ飛ぶ */
    font-size: calc(10 * 100vw / 390);
}
@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
        /* 1200はPCカンプのコンテンツ幅 */
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}


body {
    font-family: "Noto Sans JP";
    font-size: 1.6rem;
    font-weight: 400;
    color: #333;
}
* {
    line-height: 1.2;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
a {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
}

u {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: space-between;

    @include pc {
        justify-content: space-between;
    }
}

.no-sp {
    display: block;
}

.no-pc {
    display: inherit;

    @include pc {
        display: none;
    }
}

/* header
-----------------------------------------*/
.header {
    width: 100%;
    padding: 0;
    height: 6.2rem;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;
    opacity: 1;

    @include pc {
        height: 9.5rem;
        overflow: visible;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6.3rem;

        @include pc {
          justify-content: space-between;
          max-width: 103rem;
          margin: 0 auto;
          height: 9.5rem;
        }
    }
    &__logo {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 1.1rem;
        width: 7.3rem;

        @include pc {
            margin: 0 1.3rem;
        }

        img {
            align-items: center;
            display: flex;
            width: 7.1rem;

            @include pc {
                width: 9.6rem;
                max-width: 140%;
            }
        }
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8rem 1.4rem 1rem 0.4rem;
        border-radius: 1.5rem;
        font-size: 1.2rem;
        color: #fff;
        margin: 0 auto;
        position: relative;
        letter-spacing: 0.05rem;

        &__form {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            margin: 0 1rem 0 0;

            @include pc {
                display: flex;
                padding: 0;
                gap: 2.1rem;
                margin: 0;
            }
        }
        &__form-01 {
            width: 10.7rem;
            background-color: #fa7da3;

            @include pc {
                width: 18.8rem;
                padding: 0.9rem 1.1rem 1.1rem 0rem;
                font-size: 2.1rem;
                border-radius: 2.5rem;
            }

            &:hover {
                filter: brightness(1.2);
            }

            &::after {
                content: "";
                background-image: url(/assets/image/arrow.svg);
                width: 0.8rem;
                height: 1.1rem;
                background-size: contain;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0.7rem;

                @include pc {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
        }
        &__form-02 {
            background-color: #49c43d;
            color: #fff;
            width: 17.5rem;

            @include pc {
                width: 30rem;
                padding: 0.8rem 2.8rem 1.3rem 1.1rem;
                letter-spacing: 0.01rem;
                font-size: 2.1rem;
                border-radius: 2.5rem;
            }

            &:hover {
              filter: brightness(1.2);
            }

            &::after {
                content: "";
                background-image: url(/assets/image/arrow.svg);
                width: 0.8rem;
                height: 1.1rem;
                background-size: contain;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0.9rem;

                @include pc {
                    width: 1.8rem;
                    height: 1.8rem;
                    right: 1.3rem;
                }
            }
        }
    }
    &__small {
        font-size: 1rem;
        letter-spacing: 0.05rem;

        @include pc {
            font-size: 1.6rem;
        }
    }
}


/* top
-----------------------------------------*/
.top {
    text-align: center;
    min-height: 31.1rem;
    background-color: #fa7da3;
    color: #fff;
    display: flex;
    margin-top: 6.2rem;
    height: 31.1rem;

    @include pc {
        height: auto;
        width: 100%;
        min-height: 61.2rem;
        margin-top: 9.5rem;
    }

    &__container {
        background-image: url("/assets/image/top_woman.png");
        background-size: 21rem 21.5rem;
        background-position: 2% 100%;
        display: flex;
        gap: 2rem;

        @include pc {
            background-image: url("/assets/image/top_woman.png");
            width: 103rem;
            margin: 0 auto;
            background-size: 47%;
            background-position: left bottom;
            gap: 4rem;
        }
    }
    &__left {
        width: 52%;

        @include pc {

        }
    }
    &__left--title {
        text-align: center;
        margin: 0 0 1.15rem 0;

        @include pc {
            margin: 0 auto;
            max-width: 105.5rem;
            padding: 0;
            padding: 0.8rem 1.8rem 0 1.6rem;
        }
        &-sp {
            margin: 1.9rem 0 0 1.8rem;
            min-width: 16.6rem;

            @include pc {
                margin: 0 0 0 0.7rem;
                width: 54rem;
            }
        }
    }
    &__right--upper {
        display: flex;
        width: 18.8rem;
        height: 10.7rem;
        box-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
        background-color: rgba(255,255,255,0.3);
        position: relative;

        @include pc {
            width: 42.3rem;
            height: 22.2rem;
        }
    }
    &__right--item {
        display: flex;
        flex-direction: column;

        @include pc {
            padding: 2rem 0 0 3.2rem;
        }
    }
    &__catch-up {
        font-size: 1.3rem;
        color: #fa7da3;
        background-color: #fff;
        margin: 2.2rem 1rem 0.6rem 2.5rem;
        padding: 0.4rem 0.5rem;
        font-weight: 700;

        @include pc {
            font-size: 2.9rem;
            padding: 0.8rem 1.1rem;
            margin: 2.2rem 0.4rem 0.6rem 2.5rem;
        }
    }
    &__catch-down {
        font-size: 2.4rem;
        font-weight: 700;
        padding: 0 0 0 1.5rem;

        @include pc {
            font-size: 5.4rem;
            padding: 1rem 0 0 3rem;
        }
    }
    &__catch-yellow {
        color: #fffd7a;
        font-weight: 700;
        display: inline-block;
        margin: 1rem 0 0 0;

        @include pc {
            margin: 1.1rem 0 0 0;
        }
    }
    .large {
        font-size: 7.6rem;
        vertical-align: bottom;
        line-height: 0.98;

        @include pc {
            font-size: 17.1rem;
            padding: 0 0 0 2rem;
        }
    }
    .small {
        font-size: 3.6rem;

        @include pc {
            font-size: 8.1rem;
        }
    }
    p {
        font-size: 1rem;
        letter-spacing: -0.09rem;
        font-family: "Outfit";
        padding: 0.6rem 0 2.2rem;
        text-align: end;
        margin-right: 2.8rem;

        @include pc {
            font-size: 1.6rem;
            padding: 0.6rem 3.6rem 5rem 0;
            letter-spacing: 0.03rem;
        }
    }
    .price-large {
        font-size: 1.4rem;

        @include pc {
          font-size: 2.4rem;
        }
    }
    ul {
        margin: 0 auto;
    }
    li {
        font-size: 1.8rem;
        border: 0.1rem solid #fff;
        margin: 0 auto 1.2rem;
        padding: 0.6rem 0.8rem;
        width: 13.3rem;

        @include pc {
            font-size: 2.8rem;
            margin: 0 0 2rem 0;
            padding: 1.7rem 0.8rem 1.6rem;
            min-width: 42.3rem;
        }

        &:nth-child(2) {
            @include pc {
                padding: 1.7rem 0.8rem 1.6rem;
                letter-spacing: -0.03rem;
            }
        }
        &:nth-child(3) {
            @include pc {
                padding: 1.6rem 0.8rem 1.8rem;
                letter-spacing: -0.2rem;
            }
        }
    }
}

/* give
---------------------------------------- */
.give {
    background-color: #fffedd;
    padding: 2.2rem 2rem 1.5rem;

    @include pc {
        padding: 4.2rem 2rem 2.5rem;
    }

    &__catch {
        position: relative;
        text-align: center;
        font-size: 2.1rem;
        color: #fa7da3;
        padding: 0 0 1.6rem 0;

        @include pc {
            padding: 0 0 1.9rem 1rem;
            font-size: 3.4rem;
        }
        &::before,
        &::after {
            position: absolute;
            top: 40%;
            width: 2.8rem;
            height: 0.14rem;
            content: "";
            background-color: #fa7da3;

            @include pc {
                top: 36%;
                width: 4rem;
            }
        }
        &::before {
            right: calc(50% + 3.4rem);
            transform: rotate(59deg);

            @include pc {
                right: calc(50% + 6rem);
            }
        }
        &::after {
            left: calc(50% + 3.5rem);
            transform: rotate(-60deg);

            @include pc {
              left: calc(50% + 6.5rem);
            }
        }
    }
    .give__item {
        text-align: center;
        margin: 0 auto;
        max-width: 35rem;

        @include pc {
          max-width: 55rem;
        }

        &--title {
            border-radius: 1rem 1rem 0 0;
            background-color: #fa7da3;
            font-size: 2.1rem;
            color: #fff;
            padding: 0.2rem 0 0.3rem;

            @include pc {
                font-size: 3.2rem;
                padding: 0.4rem 0.3rem 0.6rem 0;
            }
        }
        &--info {
            color: #fa7da3;
            border-radius: 0 0 1rem 1rem;
            background-color: #fff;
            border: 0.1rem solid #fa7da3;
            padding: 0.5rem 0 0.5rem 1.3rem;

            @include pc {
                padding: 0.5rem 0 1.2rem 1.9rem;
            }
        }
        .large {
            font-size: 4.2rem;
            font-weight: 700;

            @include pc {
                font-size: 6.8rem;
            }
        }
        .small {
            font-size: 2.8rem;
            letter-spacing: -0.05rem;

            @include pc {
                font-size: 4.5rem;
            }
        }
    }

    p {
        font-size: 1rem;
        padding: 1rem 0.3rem 0 0;
        text-align: center;

        @include pc {
            font-size: 1.4rem;
            padding: 1.8rem 0.5rem 0 0;
            letter-spacing: -0.02rem;
        }
    }
}


/* contact
---------------------------------------- */
.contact {
    padding: 1.7rem 2rem 1rem;

    @include pc {
        max-width: 103rem;
        margin: 0 auto;
        padding: 5.9rem 2rem 2rem;
    }
    &_02 {
        padding: 2.7rem 2rem 2rem;

        @include pc {
            padding: 5.8rem 2rem 4rem;
        }
    }
    &_03 {
        padding: 2.9rem 2rem 4.4rem;

        @include pc {
            padding: 5.8rem 2rem 4rem;
        }
    }
    &__container {
      text-align: center;

        @include pc {
            margin: 0 auto;
            max-width: 57rem;
        }
    }
    &__title {
      font-size: 2.1rem;
      color: #fa7da3;
      font-weight: 700;
      padding: 0 0 1.2rem 1.1rem;
      letter-spacing: 0.2rem;

        @include pc {
            font-size: 3.4rem;
            letter-spacing: 0.35rem;
            padding: 0 0 1.8rem 1.6rem;
        }
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 7rem 1.2rem 7rem;
        letter-spacing: 0.2rem;
        border-radius: 4rem;
        font-size: 2.1rem;
        line-height: calc(28 / 21);
        font-weight: 700;
        color: #fff;
        margin: 0 auto;
        position: relative;

        @include pc {
            padding: 2rem 10.2rem 2.3rem 10.1rem;
            letter-spacing: 0.34rem;
            border-radius: 6.5rem;
            font-size: 3.4rem;
            line-height: calc(43 / 34);
        }

        &__form {
            margin: 0 auto;
        }
        &__form-02 {
            background-color: #49c43d;
            color: #fff;
            position: relative;

            @include pc {

            }

            &:hover {
                filter: brightness(1.2);
            }

            &::after {
                content: "";
                background-image: url(/assets/image/arrow.svg);
                width: 2.2rem;
                height: 2.2rem;
                background-size: contain;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 2.3rem;

                @include pc {
                    width: 4rem;
                    height: 4rem;
                    right: 3.3rem;
                }
            }
        }
    }
}

/* free
---------------------------------------- */
.free {
    padding: 0.9rem 2rem 2.2rem;

    @include pc {
        max-width: 61rem;
        margin: 0 auto;
        padding: 1.5rem 2rem 6rem 1.8rem;
    }

    &__item {
        font-size: 1.7rem;
        color: #50bfff;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin: 1.3rem 0 1.3rem;
        padding: 0.8rem 0 0.9rem;
        border-top: 0.1rem solid #50bfff;
        border-bottom: 0.1rem solid #50bfff;
        text-align: center;

        @include pc {
            font-size: 2.8rem;
            letter-spacing: 0.3rem;
            margin: 1.3rem 0 2.1rem;
            padding: 1.3rem 0 1.7rem;
        }

        &--info {
            font-size: 1.4rem;
            text-align: left;
            line-height: calc(24 / 20);

            @include pc {
                font-size: 2.3rem;
            }

            &-01 {
                padding-bottom: 0.8rem;

                @include pc {
                    padding-bottom: 1.2rem;
                    letter-spacing: -0.03rem;
                }
            }
            &-02 {
                @include pc {
                    letter-spacing: -0.03rem;
                }
            }
        }
    }
    &__small {
        font-size: 80%;
        letter-spacing: 0.03rem;

        @include pc {
            font-size: 75%;
            letter-spacing: 0.03rem;
        }
    }
}

/* point
---------------------------------------- */
.point {
    padding: 3.6rem 1.6rem 0.1rem;
    margin: 0 auto;
    max-width: 102.4rem;
    background-color: #fdf0f5;

    @include pc {
        padding: 5.2rem 1.6rem 1rem;
        max-width: unset;
    }
    &__container {
      text-align: center;

        @include pc {
            max-width: 78rem;
            margin: 0 auto;
        }
    }
    &__logo {
        font-size: 1.8rem;
        color: #4d2b1b;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1rem;
        display: flex;
        align-items: center;
        line-height: 1;
        justify-content: center;

        @include pc {
            letter-spacing: 0.15rem;
        }

        img {
            width: 19.7rem;
            margin: 0.5rem 0.34rem 0 0.3rem;

            @include pc {
                width: 26.7rem;
                margin: 0 0.05rem 0 0.3rem;
            }
        }
    }
    &__second--main {
        font-size: 3.2rem;
        font-weight: 700;
        color: #fa7da3;
        padding: 1.4rem 0 2.7rem 0;
        text-align: center;
        letter-spacing: 0.15rem;
        position: relative;

        @include pc {
            font-size: 4.2rem;
            padding: 1.9rem 0 5.2rem 0;
            letter-spacing: -0.03rem;
        }
        &::before {
            content: "";
            background-image: url(/assets/image/star.svg);
            background-size: contain;
            width: 3.7rem;
            height: 4.6rem;
            display: inline-block;
            position: absolute;
            left: 3.3rem;
            top: 1rem;

            @include pc {
                left: 19.5rem;
                top: 1.5rem;
                width: 4.9rem;
                height: 7.6rem;
            }
        }
        &::after {
            content: "";
            background-image: url(/assets/image/star_right.svg);
            background-size: contain;
            width: 3.7rem;
            height: 4.6rem;
            display: inline-block;
            position: absolute;
            right: 3.3rem;
            top: 1rem;

            @include pc {
                right: 19.5rem;
                top: 1.5rem;
                width: 4.9rem;
                height: 7.6rem;
            }
        }
    }
    &__item {
        text-align: center;
        margin: 0 auto;
        max-width: 35rem;
        margin: 0 auto 3rem;

        @include pc {
            max-width: unset;
            margin: 0 auto 5rem;
        }

        &--title {
            border-radius: 1rem 1rem 0 0;
            background-color: #fa7da3;
            font-size: 1.8rem;
            color: #fff;
            padding: 1.3rem 0 1rem;
            display: flex;
            justify-content: center;

            @include pc {
                font-size: 2.8rem;
                padding: 2.2rem 0 2.1rem;
            }

            &_02 {
                @include pc {
                    padding: 2rem 0 2.1rem;
                }
            }
            &_03 {
                @include pc {
                    padding: 2rem 0 2.1rem;
                }
            }
        }
        &_01 {
            padding-right: 1.2rem;

            @include pc {
                padding-right: 2rem;
                letter-spacing: -0.1rem;
            }
        }
        &_02 {
            border-left: 0.1rem solid #fff;
            padding-left: 1.3rem;

            @include pc {
                padding-left: 2rem;
            }
        }
        &--info {
            border-radius: 0 0 1rem 1rem;
            background-color: #fff;
            border: 0.1rem solid #fa7da3;
            padding: 1.4rem 2rem 1.8rem 2rem;
            letter-spacing: -0.06rem;

            @include pc {
                padding: 2.1rem 1.9rem 4rem 2rem;
                letter-spacing: 0.015rem;
            }
        }
    }
    &__info--catch {
        font-size: 1.4rem;
        line-height: 1.6;
        text-align: left;
        padding: 0 0 1.2rem 0;

        @include pc {
            font-size: 2.1rem;
            line-height: 1.5;
            text-align: left;
            padding: 0 0 2.6rem 2rem;
        }
    }
    &__box {
        justify-content: center;
    }
    &__item--detail {
        justify-content: center;
        gap: 2.2rem;

        @include pc {
            gap: 4.1rem;
        }
    }
    &__place {
        width: 14.3rem;
        height: 8.5rem;

        @include pc {
            width: 23.2rem;
            height: 13.7rem;
        }
        img {
            @include pc {
                width: 130%;
                max-width: unset;
            }
        }
    }
    &__place_01 {
        background-color: #fff;
        border: 1px solid #fa7da3;
        padding: 2rem 3.1rem;

        @include pc {
            padding: 3.4rem 8rem 3.7rem 6rem;
        }
        img {
            width: 7.1rem;

            @include pc {
                width: 11.3rem;
            }
        }
    }
    &__place_02 {
        background-color: #fdf0f5;
        border: 1px solid #666666;
        padding: 20% 3.2rem 20% 3.5rem;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        color: #433e3f;
        text-align: center;

        @include pc {
            font-size: 2.9rem;
            letter-spacing: 0.03rem;
            padding: 4.6rem 5rem 4.6rem 5.3rem;
        }
    }
    &__note {
        font-size: 1.4rem;
        padding: 0.6rem 0 0 0;
        letter-spacing: 0.01rem;

        @include pc {
            font-size: 2.1rem;
            padding: 1.1rem 0 0 0;
        }
    }


/* -------- point02 -------- */

    &__item--info_02 {
        padding: 1.7rem 1rem 1.7rem;
        font-size: 1.4rem;
        text-align: left;

        @include pc {
            padding: 1.3rem 3.3rem 3.3rem;
        }
    }
    &__info--catch_02 {
        padding: 0 0.6rem 0.4rem 0.9rem;
        line-height: 1.4;
        letter-spacing: 0.01rem;

        @include pc {
            font-size: 2.1rem;
            padding: 1rem 0 1.7rem 7px;
            line-height: 1.6;
        }
    }
    &__second--main_02 {
        color: #4d2c1c;
        font-size: 2.3rem;
        font-weight: 700;
        padding: 2.1rem 0 2.75rem 0;
        text-align: center;

        @include pc {
            font-size: 2.4rem;
            padding: 0.7rem 0 2.2rem 0;
        }
    }
    &__second--main_03 {
        color: #4d2c1c;
        font-size: 2.3rem;
        font-weight: 700;
        padding: 4.5rem 0 1.8rem 0;
        text-align: center;

        @include pc {
            font-size: 2.4rem;
            padding: 5.7rem 0 2.1rem 0;
        }
  }
    &__item--detail_02 {
        flex-wrap: wrap;
        margin: 1rem 0 0;
        justify-content: center;
        row-gap: 1.9rem;
        column-gap: 1.1rem;
        max-width: 40rem;

        @include pc {
            flex-wrap: unset;
            margin: 1rem 0 0;
            row-gap: 1.5rem;
            max-width: unset;
        }
    }
    &__second-pic {
        @include pc {
            width: 59.5rem;
            display: inline-block;
            padding: 0 0 0 2.2rem;
        }
        img {
            width: 33rem;

            @include pc {
                width: 100%;
            }
        }
    }
    &__second-pic-sp {
        padding: 0 0.6rem 0 0.9rem;
    }
    &__second--name {
        font-size: 1.4rem;
        color: #fa7da3;
        font-weight: 700;
        padding: 0.7rem 0 0;
        letter-spacing: 0.05rem;
        text-align: center;

        @include pc {
            font-size: 1.4rem;
            padding: 0.6rem 0 0;
        }
    }

/* -------- point03 -------- */

    &__item--info_03 {
        padding: 1.7rem 1.9rem 1.8rem 2rem;
        font-size: 1.4rem;
        text-align: left;

        @include pc {
            font-size: 2.1rem;
            padding: 2.3rem 4rem 3.3rem;
        }
    }
    &__info--catch_03 {
        letter-spacing: 0.001rem;
        line-height: 1.4;


        @include pc {

        }
    }
}

/* course
---------------------------------------- */
.course {
    padding: 2.7rem 1.6rem 2rem;
    margin: 0 auto;
    max-width: 102.4rem;

    @include pc {
        padding: 1.8rem 1.6rem 6rem;
    }

    &__title {
        font-size: 1.8rem;
        color: #4d2b1b;
        font-weight: 500;
        text-align: center;
        padding-left: 0.6rem;

        @include pc {
            font-size: 2.4rem;
        }
    }
    &__main {
        font-size: 3.2rem;
        font-weight: 700;
        color: #fa7da3;
        padding: 1.2rem 0 2.8rem 0;
        text-align: center;
        letter-spacing: 0.1rem;
        position: relative;

        @include pc {
            font-size: 4.2rem;
            padding: 1.7rem 0 4.2rem 0;
        }
        &::before {
            content: "";
            background-image: url(/assets/image/star.svg);
            background-size: contain;
            width: 3.7rem;
            height: 4.6rem;
            display: inline-block;
            position: absolute;
            left: 4.4rem;
            top: 0.8rem;

            @include pc {
                left: 32rem;
                top: 0.9rem;
                width: 5.5rem;
                height: 5.9rem;
            }
        }
        &::after {
            content: "";
            background-image: url(/assets/image/star_right.svg);
            background-size: contain;
            width: 3.7rem;
            height: 4.6rem;
            display: inline-block;
            position: absolute;
            right: 4.4rem;
            top: 0.8rem;

            @include pc {
                right: 31rem;
                top: 0.9rem;
                width: 5.5rem;
                height: 5.9rem;
            }
        }
    }
    &__box {
        padding-left: 0.5rem;

        @include pc {
            display: flex;
            justify-content: center;
            gap: 3.2rem;
            margin: 0 1rem 0 0;
        }
    }
    &__item {
        text-align: center;
        margin: 0 auto;
        max-width: 35rem;
        margin: 0 0 3.1rem 0;

        @include pc {
            margin: 0;
        }

        &:nth-child(2) {

            width: 35rem;
        }

        &--title {
            border-radius: 1rem 1rem 0 0;
            background-color: #fdf0f5;
            border-top: 0.1rem solid #fa7da3;
            border-right: 0.1rem solid #fa7da3;
            border-left: 0.1rem solid #fa7da3;
            font-size: 1.8rem;
            color: #fa7da3;
            padding: 1.2rem 0 1.3rem;
            display: flex;
            justify-content: center;

            @include pc {
                font-size: 2.8rem;
                letter-spacing: 0.07rem;
            }
        }
        &--info {
            border-radius: 0 0 1rem 1rem;
            background-color: #fff;
            border-bottom: 0.1rem solid #fa7da3;
            border-right: 0.1rem solid #fa7da3;
            border-left: 0.1rem solid #fa7da3;
            padding: 1.2rem 1.8rem 2.6rem 2rem;
            letter-spacing: 0.01rem;

            @include pc {
                padding: 1rem 1.8rem 2.5rem 2rem;
                letter-spacing: 0.03rem;
            }
        }
        &--info_02 {
            @include pc {
                padding: 1rem 1rem 2.5rem 2rem;
            }
        }
    }
    .no-sp {
        display: unset;

        @include pc {

        }
    }
    &__info--catch {
        font-size: 1.4rem;
        line-height: calc(21 / 14);
        text-align: left;
        padding: 0 0 1.3rem 0;

        @include pc {
            font-size: 1.8rem;
        }
    }
    &__pic {
        width: 31rem;
        max-height: 20rem;

        @include pc {
            margin: 0 auto;
        }
    }
}

/* voice
---------------------------------------- */
.voice {
    background-color: #fdf0f5;
    padding: 1rem 0 0.5rem;

    @include pc {
        padding: 0.5rem 0 0.5rem;
    }

    &__content {
        @include pc {
            margin: 0 auto;
            max-width: 102.4rem;
        }
    }
    &__main {
        font-size: 3.2rem;
        font-weight: 700;
        color: #fa7da3;
        padding: 2.1rem 0 1.5rem 0;
        text-align: center;
        letter-spacing: 0.1rem;
        position: relative;

        @include pc {
            font-size: 4.2rem;
            padding: 4.3rem 0 3.8rem 0;
        }
        &::before {
            content: "";
            background-image: url(/assets/image/star.svg);
            background-size: contain;
            width: 3.7rem;
            height: 4.6rem;
            display: inline-block;
            position: absolute;
            left: 6rem;
            top: 1.8rem;

            @include pc {
                left: 33.5rem;
                top: 4rem;
                width: 5.7rem;
                height: 5.6rem;
            }
        }
        &::after {
            content: "";
            background-image: url(/assets/image/star_right.svg);
            background-size: contain;
            width: 3.7rem;
            height: 4.6rem;
            display: inline-block;
            position: absolute;
            right: 6rem;
            top: 1.8rem;

            @include pc {
                right: 32.5rem;
                top: 4rem;
                width: 5.7rem;
                height: 5.6rem;
            }
        }
    }
    &__item {
        text-align: center;
        margin: 0 auto;
        width: 31.3rem;
        margin: 0 0 1.5rem 0;
        height: 18.8rem;

        @include pc {
            margin: 0 0 2.5rem 0;
        }
    }
    &__title {
        border-radius: 1rem 1rem 0 0;
        background-color: #fa7da3;
        font-size: 1.8rem;
        color: #fff;
        padding: 1.3rem 0 1.2rem;
        display: flex;
        justify-content: center;

        @include pc {
            padding: 1.3rem 0 1.2rem;
        }
    }
    &__down {
        background-color: #fff;
        display: flex;
        padding: 1.3rem 1.2rem 1.1rem 1.4rem;
        border: 0.1rem solid #fa7da3;
        border-radius: 0 0 1rem 1rem;
        gap: 1rem;

        @include pc {
            padding: 1.3rem 2.2rem 1.3rem 2.4rem;
            gap: 2rem;
        }
    }
    &__down_02 {
        @include pc {
            padding: 1.3rem 1.2rem 1.3rem 1.1rem;
            gap: 0.6rem;
        }
    }
    &__down_03 {
        @include pc {
            padding: 1.2rem 1.2rem 1.4rem 2rem;
            gap: 1.5rem;
        }
    }
    &__down--right {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    &__img {
        width: 28.6rem;

        @include pc {
            width: 31rem;
        }
    }
    .swiper__container {
        position: relative;
        width: 100%;
        max-width: 100%;

        @include pc {
            max-width: 103rem;
            margin-inline: auto;
            padding: 0 0 5rem 0;
        }
    }
    .swiper {
        padding: 0.8rem 3.8rem 0.5rem 4.2rem;
        margin: 0 auto;
        position: relative;

        @include pc {
            max-width: 97rem;
            padding: 0 0 1.8rem 0;
        }

        &-slide {
            width: 31rem;

            @include pc {

            }
        }
    }
    &__name {
        font-size: 1.6rem;
        color: #fa7da3;
        padding: 0.4rem 0 0.7rem;
        letter-spacing: 0.03rem;

        @include pc {
            padding: 0.5rem 0 0.8rem;
        }
    }
    &__note {
        font-size: 1.4rem;
        line-height: calc(21 / 14);

        @include pc {
            font-size: 1.4rem;
            line-height: 1.5;
        }
    }
    .swiper-pagination {
        position: unset;
        padding: 0 0 1rem 0;

        @include pc {
            display: none;
            --swiper-pagination-color: #fa7da3;;
            --swiper-pagination-bullet-inactive-color: #ffd2d2;
            bottom: 1%;
            width: 15px;
            height: 15px;
            position: relative;
            left: 50%;
        }
    }

    .swiper-pagination-bullet {
        background-color: #ffd2d2;
        bottom: -1%;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 1;
        --swiper-pagination-bullet-horizontal-gap: 0.8rem;

        @include pc {
            bottom: 0%;
        }

        &-active {
            background-color: #fa7da3;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .swiper-pagination-lock {
        @include pc {
            display: unset;
        }
    }
}


/* footer
-------------------------------------------- */
.footer {
    background-color: #fa7da3;
    padding: 1.3rem 0 2.1rem;

    @include pc {
        padding: 3.6rem 1.6rem 4.1rem;

    }
    &__img {
        width: 16.45rem;
        margin: 0 auto;
        text-align: center;

        @include pc {
            width: 14.4rem;
            margin: 0 auto;
            padding: 0;
        }
    }
    img {
        @include pc {
            width: 19rem;
        }
    }
}